
	/* CSS Code */
    /* Heading */
    #body
    {
        background-color: #42EADDFF;

    }
	h1 {
		color: orangered;
        font-size: 45px;
        
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
        background-color: #CDB599FF;
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 50px;
		font-size: 30px;
		text-align: center;
	}

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid dodgerblue;
		margin: auto;
		border-radius: 25px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: #616247FF;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: #333D79FF;
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}

	/* Game Instruction Text */
	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: #2D2926FF;
		font-size: 20px;
	}
`
